*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{padding:30px;

    font-family:'Poppins',sans-serif;

    background:#E8F2DA;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#465340;

}

.background{

    position:fixed;

    inset:0;

    background:
        radial-gradient(circle at top left,#F6C8D8 0%,transparent 20%),
        radial-gradient(circle at bottom right,#F6C8D8 0%,transparent 20%);

    opacity:.45;

    z-index:-1;

}

.app{

    width:100%;
    max-width:430px;

    background:#FFFDF8;

    border-radius:30px;

    padding:30px;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

}

.jp{

    font-family:'Noto Serif JP',serif;

    color:#6F8B5E;

    font-size:18px;

}

h1{

    font-size:54px;

    color:#557048;

    margin-top:5px;

}

.welcome{

    color:#71806A;

    margin-bottom:8px;

}

.phrase{

    color:#91A087;

    font-size:14px;

    margin-bottom:30px;

}

.card{

    background:#F9FAF6;

    border-radius:22px;

    padding:20px;

    margin-bottom:18px;

}

.card p{

    color:#7D8A73;

}

.card h2{

    margin-top:8px;

    font-size:36px;

}

.duplo{

    display:flex;

    gap:15px;

    margin-bottom:18px;

}

.mini{

    flex:1;

    background:#F9FAF6;

    border-radius:22px;

    padding:20px;

}

.mini p{

    color:#7D8A73;

    font-size:14px;

}

.mini h3{

    margin-top:8px;

    font-size:24px;

}

.barra{

    width:100%;

    height:12px;

    border-radius:30px;

    overflow:hidden;

    margin-top:15px;

    background:#DCE7D2;

}

.progresso{

    width:0%;

    height:100%;

    background:#F6C8D8;

    transition:.3s;

}

#porcentagem{

    display:block;

    text-align:right;

    margin-top:10px;

    color:#6D7D63;

}

button{

width:100%;

padding:18px;

border:none;

border-radius:18px;

font-size:17px;

font-weight:600;

cursor:pointer;

transition:.25s;

box-shadow:0 10px 18px rgba(0,0,0,.08);

}

}

#depositar{

    background:#86A96F;

    color:white;

}

#depositar:hover{

transform:translateY(-3px);

box-shadow:0 18px 28px rgba(134,169,111,.30);

}

}

#retirar{

    background:#F6C8D8;

    color:white;

}

#retirar:hover{

transform:translateY(-3px);

box-shadow:0 18px 28px rgba(246,200,216,.30);

}
}
